<!DOCTYPE html>
<!--html-->

<html>

    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <!--회원가입 폼-->
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>아이디</label>
                            <div class="form-row">
                                <input class="form-control border-top-0 border-left-0 border-right-0" name="id" id="id" placeholder="아이디 입력">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>비밀번호</label>
                            <div class="form-row">
                                <input class="form-control border-top-0 border-left-0 border-right-0" name="password" id="password" placeholder="비밀번호 입력">
                            </div>
                            <div class="form-row mt-2">
                                <input class="form-control border-top-0 border-left-0 border-right-0" name="re_password" id="re_password" placeholder="비밀번호 재입력">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>닉네임</label>
                            <div class="form-row">
                                <input class="form-control border-top-0 border-left-0 border-right-0" name="nickname" id="nickname" placeholder="닉네임 입력">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>생일/성별</label>
                            <div class="form-row">
                                <div class="col-6">
                                <input type="date" class="form-control" name="birth" id="birth">
                                </div>
                                <div class="pt-1 form-check col-6">
                                    <input type="radio" name="sex" id="male"> <label>남자</label>
                                    <input type="radio" name="sex" id="female"> <label>여자</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <button type="submit" class="btn btn-primary">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>