<!DOCTYPE html>
<!--html-->

<html>

    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .soup{
                background-image: url("../public/images/soup_image.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                height:350px;
            }
        </style>
    </head>

    <body>
        <div class="container">
        <!--점보트론으로 위에 이미지와 문구 작성-->
        <div class="jumbotron soup text-right mb-1">
            <h1 class="display-4">
                국
            </h1>
            <p>한국인에게 빠질 수 없는 식사거리</p>
        </div>
                <div class="card mb-3">
                    <div class="card-body" >
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="../public/images/soup_1.jpg" width="100%">
                            </div>
                            <div class="col-8 p-5">
                                <h5 class="card-title">된장찌개</h5>
                                <p class="card-text">된장찌개는 된장을 풀어서 끓여 만든 찌개 종류로 채소와 두부, 고기를 넣어서 만드....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body" >
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="../public/images/soup_2.jpg" width="100%">
                            </div>
                            <div class="col-8 p-5">
                                <h5 class="card-title">미역국</h5>
                                <p class="card-text">미역국은 미역을 넣고 끓이는 국이다. 한국에서는 아이를 낳은 산모가 쌀밥과 미역국을 먹는데, 미역에는 칼슘과 아이오딘이 많아 피를 맑게 하고 혈액순환을 촉진하는 등 어린이와...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body" >
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="../public/images/soup_3.jpg" width="100%">
                            </div>
                            <div class="col-8 p-5">
                                <h5 class="card-title">소고기무국</h5>
                                <p class="card-text">시원한 맛이 좋은 소고기 무국은 간단하게 만들 수 있고 영양이 풍부해서 누구나 좋아하는 요리이다. 오래 끓일수록 깊은 맛이 나니 약불에 은근하게 끓여.....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body" >
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="../public/images/soup_4.jpg" width="100%">
                            </div>
                            <div class="col-8 p-5">
                                <h5 class="card-title">콩나물국</h5>
                                <p class="card-text">주로 맑은 장국으로 만들지만 지방에 따라 각 가정의 취향에 따라 다양하게 만들어 먹는다. 만드는 법은 양념한 쇠고기를 넣은 장국이 끓을 때, 콩나물·파를 넣고 끓여서 소금으로 간을.....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body" >
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="../public/images/soup_5.jpg" width="100%">
                            </div>
                            <div class="col-8 p-5">
                                <h5 class="card-title">어묵국</h5>
                                <p class="card-text">어묵과 무를 넣고 간장으로 간을 해서 끓이는 달큰한 맛이 매력적인 국이다. 전 국민이 좋아하는 매운 떡볶이와.....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--페이지네이션-->
            <div class="row justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>

</html>